.big-title {
    margin-left: 10%;
    padding-top: 10%;
    font-weight: bold;
}

.welcome-text {
    margin-left: 10%;
    margin-right: 10%;
}

body {
    background: -webkit-linear-gradient(90deg, #1a162a,#755d9a,#1a162a);
    background: linear-gradient(90deg, #1a162a,#755d9a,#1a162a);
    min-height: 100vh;

}

body, html {
    margin: 0;
    padding: 0;
}


#login-img-button {
    width: 180px;
    height: 60px;
}

#carousel-orders {
    margin-top: 10em;
    margin-left: 3em;
    margin-right: 3em;
    padding-right: 15em;
    padding-left: 15em;
}

#carousel-author {
    margin-top: 10em;
    margin-left: 3em;
    margin-right: 3em;
    padding-right: 15em;
    padding-left: 15em;
}

#carousel-approved-tutors {
    margin: 2% 3em 5%;
    padding-right: 15em;
    padding-left: 15em;
}

.candidates-title {
    color: aliceblue;
    margin-left: 10%;
    margin-top: 4em;
}

.welcome-text-white {
    color: aliceblue;
    margin-top: 10%;
    margin-left: 3em;
    margin-right: 3em;
}

.welcome-text-white-title {
    color: aliceblue;
    margin-top: 10%;
    margin-left: 3em;
    margin-right: 3em;
}

.carousel-candidates {
    padding-right: 15em;
    padding-left: 15em;
    margin: 2% 3em 5%;
}

.order-card {
    width: 60%;
    margin-top: 8%;
    margin-left: auto;
    margin-right: auto;
}

.reg-card {
    border-radius: 15px;
}

.navbar {
    background-color: #8A2BE2;
}


.welcome-card {
    height: 100%;
    background-color: aliceblue;
    padding: 5%;
}

.nav-item:hover {
    cursor: pointer;
}

#sign-in-menu {
    width: 40%;
    margin: 100px auto 80px auto;
    text-align: center;
    display: none;
    position: fixed;
    left: 0;
    right: 0;
    top:0;
    bottom: 0;
    z-index: 150;
}

#order-creation-card {
    margin-top: 6em;
    margin-bottom: 6em;
    width: 50%;
}

#carousel-orders-read-only {
    margin-top: 6em;
    margin-bottom: 6em;
    width: 50%;
}

.order-card-for-delete {
    width: 15rem;
}

.order-card-tutor {
    width: 15rem;
}

.sign-in-form {
    padding: 10px 10px 10px 10px;
}

.btn {
    width: 80px;
    height: 40px;
}

#sign-in-btn {
    margin-top: 15px;
}

#nav-sign-in {
    border: #8A2BE2 1px solid;
    width: 180px;
    height: 60px;
    display: block;
    position: fixed;
    bottom: 50px;
    right: 50px;
    z-index: 100;
}

.tutor-list-select {
    margin-top: 40px;
    margin-left: 50px;
    max-width: 400px;
}

#nav-sign-in:hover {
    cursor: pointer;
}

#apply-btn {
    margin-left: 100px;
}

#gray {
    opacity: 0.8;
    padding: 15px;
    background-color: rgba(1,1,1,0.75);
    position: fixed;
    left: 0;
    right: 0;
    top:0;
    bottom: 0;
    display: none;
    z-index:100;
    overflow: auto;
}


.candidate-card {
    width: 15rem;
}

.slider {
    width: 800px;
    height: 250px;
    margin: 20px auto;
    overflow: hidden;
}

.slider-line {
    height: 250px;
    display: flex;
    position: relative;
    left: 0;
    transition: all ease 1s;
}

.order-card-editable:hover {
    cursor: pointer;
}

.form-select{
    margin-bottom: 18px;
}

#carousel-presentation{
    margin-left: auto;
    margin-right: auto;
}

#reg-container {
    margin-bottom: 7em;
}

.btn-success {
    width: 50%;
    text-align: center;
}

.form-control-lg {
    margin-bottom: 18px;
}

.btn-light {
    text-align: center;
}

.bg-findigo {
    background-color: #62639b;
}

#btn-reg-tutor {
    width: 50%;
}

.form-check {
    margin-bottom: 20px;
}

.arrow-6 {
    margin:20px;
}
.arrow-6 svg {
    width: 100px;
    height: auto;
    margin: 0 2rem;
    cursor: pointer;
    overflow: visible;
}
.arrow-6 svg polygon,
.arrow-6 svg path {
    transition: all 0.5s cubic-bezier(0.2, 1, 0.3, 1);
    fill: #BC8F8F;
}
.arrow-6 svg:hover polygon,
.arrow-6 svg:hover path {
    transition: all 1s cubic-bezier(0.2, 1, 0.3, 1);
    fill: #000;
}
.arrow-6 svg:hover .arrow-6-pl {
    animation: arrow-6-anim 1s cubic-bezier(0.2, 1, 0.3, 1) infinite;
}
.arrow-6 svg:hover .arrow-6-pl-fixed {
    animation: arrow-6-fixed-anim 1s cubic-bezier(0.2, 1, 0.3, 1) infinite;
}

@keyframes arrow-6-anim {
    0% {
        opacity: 1;
        transform: translateX(0);
    }
    5% {
        transform: translateX(-0.1rem);
    }
    100% {
        transform: translateX(1rem);
        opacity: 0;
    }
}
@keyframes arrow-6-fixed-anim {
    5% {
        opacity: 0;
    }
    20% {
        opacity: 0.4;
    }
    100% {
        opacity: 1;
    }
}

/*Stars*/

.stars {
    font-size: 0;
}

.star {
    display: inline-block;
    background: lightgoldenrodyellow;
    transition: all .5s ease;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-image: url('../images/empty-star.png');
    background-repeat: no-repeat;
    background-size: 25px 25px;
}

.star.active {
    background-color: gold;
}


.empty-list {
    margin-top: 5em;
    margin-left: 10em;
}

.empty-list-text {
    color: aliceblue;
}

.placeholder-image-education {
    width: 500px;
    height: 500px;
    margin-top: 10em;
    margin-left: 4em;
}

.placeholder-image-classroom {
    width: 500px;
    height: 500px;
    margin-top: 1em;
    margin-left: 5em;
    margin-right: 3em;
}

.placeholder-image-elearinig {
    width: 500px;
    height: 500px;
    margin-top: 2em;
    margin-left: 3em;
    margin-right: 3em;
}


#order-row {
    margin: 10%;
}

.order-pagination {
    margin-top: 5em;
}


.form-label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: 600;
}

.form-control {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #8A2BE2;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.edit-order-form {
    display: none;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    max-width: 500px;
    font-family: Arial, sans-serif;
    color: white;
    margin: 3% auto 0;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
    display: inline-block;
}

input[type="radio"],
input[type="checkbox"] {
    margin-right: 5px;
}

textarea {
    width: 100%;
    min-height: 100px;
    resize: none;
    font-family: Arial, sans-serif;
    padding: 5px;
    margin-bottom: 10px;
}

input[type="number"] {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
}

.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}

.btn-edit-this {
    background-color: #5cb85c;
    border-color: #4cae4c;
}

.no-container {
    display: none;
}

#card-order {
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,.15);
    margin-bottom: 20px;
}

.card-title {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.card-text {
    margin-bottom: 5px;
}

.card-body {
    padding: 15px;
}

.button-row {
    margin-top: 5%;
    margin-bottom: 3%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button-row form {
    margin-right: 10px;
}

.review-card {
    width: 50%;
    border: 1px solid #ccc;
    padding: 20px;
    box-sizing: border-box;
    color: #1a162a;
    background-color: dimgray;
    border-radius: 10px;
    margin: 0 auto 30px;
}


.review-card .author {
    font-weight: bold;
    margin-bottom: 10px;
}


.review-card .rating {
    margin-bottom: 10px;
}


.form-description {
    margin: 15px;
}

#placeholder {
    margin-bottom: 3%;
}

.button {
    margin-top: 12px;
}

.modal-content {
    padding: 2%;
}

#rate-modal {

}


